<div class="container-fluid">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#/task_management"><label class="glyphicon glyphicon-chevron-left"></label>&nbsp;{{'ocsp_web_common_turnback' | translate }}</a>
            </li>
            <li class="active">{{'ocsp_web_stream_streamdetail' | translate }}</li>
        </ol>
    </div>

    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="" aria-controls="summary" role="tab" data-toggle="tab" ng-click="changeTab('summary')">{{ 'ocsp_web_stream_streamindex' | translate }}</a>
            </li>
            <li role="presentation">
                <a href="" aria-controls="config" role="tab" data-toggle="tab" ng-click="changeTab('config')">{{ 'ocsp_web_stream_streamconfig' | translate }}</a>
            </li>
            <li class="dropdown col-md-offset-2">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{'ocsp_web_streams_manage_005' | translate}} <span class="caret"></span>
                </a>
                <ul id="quick" class="dropdown-menu">
                    <li ng-repeat="link in links"><a target="_blank" href="{{link.value}}">{{link.name}}</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="row">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="summary" ng-class="{'summary' : 'active'}[tab]">
                <div class="">
                    <ng-include ng-show="currentStreamType ==='SPARK'" src="'views/task/management_details_spark_summary.html'"></ng-include>
                    <ng-include ng-show="currentStreamType ==='STORM'" src="'views/task/management_details_storm_summary.html'"></ng-include>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane panelOfStreamConfigPage" id="config" ng-class="{'config' : 'active'}[tab]">
                <div class="breadcrumb streamconfigheader">
                    <a href="">{{ 'ocsp_web_stream_configinfo' | translate }}</a>
                    <div style="float:right">
                        <ocsp-switch-btn disabled="isAdminUser" save-func="saveStreamData()" edit-func="editStreamData()" cancel-func="cancelEditStream()"></ocsp-switch-btn>
                    </div>
                </div>

                <ul class="col-md-3 leftPage">
                    <li ng-class="{'basicConfig' : 'active'}[currentConfigBlock]" ng-click="switchToBlock('basicConfig')">
                        <a href="">{{ 'ocsp_web_stream_basicconfig' | translate }}</a>
                    </li>
                    <li ng-class="{'inputConfig' : 'active'}[currentConfigBlock]" ng-click="switchToBlock('inputConfig')">
                        <a href="">{{ 'ocsp_web_stream_configinput' | translate }}</a>
                    </li>
                    <li ng-class="{'labelConfig' : 'active'}[currentConfigBlock]" ng-click="switchToBlock('labelConfig')">
                        <a href="">{{ 'ocsp_web_stream_configlabel' | translate }}</a>
                    </li>
                    <li ng-class="{'outputConfig' : 'active'}[currentConfigBlock]" ng-click="switchToBlock('outputConfig')">
                        <a href="">{{ 'ocsp_web_stream_configoutput' | translate }}</a>
                    </li>
                </ul>

                <div class="col-md-9 rightPage" ng-form name="streamconfigform">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-9">
                            <div ng-if="currentStreamType ==='SPARK'">
                                <ng-include ng-if="currentConfigBlock==='basicConfig'" src="'views/task/management_details_spark_basicconfig.html'"></ng-include>
                                <ng-include ng-if="currentConfigBlock==='inputConfig'" src="'views/task/management_details_spark_inputconfig.html'"></ng-include>
                                <ng-include ng-if="currentConfigBlock==='labelConfig'" src="'views/task/management_details_spark_labelconfig.html'"></ng-include>
                                <ng-include ng-if="currentConfigBlock==='outputConfig'" src="'views/task/management_details_spark_outputconfig.html'"></ng-include>
                            </div>
                            <div ng-if="currentStreamType ==='STORM'">
                                <ng-include ng-show="currentConfigBlock==='basicConfig'" src="'views/task/management_details_storm_basicconfig.html'"></ng-include>
                                <ng-include ng-show="currentConfigBlock==='inputConfig'" src="'views/task/management_details_storm_inputconfig.html'"></ng-include>
                                <ng-include ng-show="currentConfigBlock==='labelConfig'" src="'views/task/management_details_storm_labelconfig.html'"></ng-include>
                                <ng-include ng-show="currentConfigBlock==='outputConfig'" src="'views/task/management_details_storm_outputconfig.html'"></ng-include>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>