<script type="text/ng-template" id="stackedModal.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">{{'ocsp_web_system_manage_002' | translate}}</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>SPARK_HOME</label>
      <input type="text" class="form-control" ng-model="spark" required>
    </div>
    <div class="form-group">
      <button type="button" class="btn oc-button" ng-click="inputSpark()">{{'ocsp_web_common_009' | translate}}</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="kerberosConfigureMissingWarning.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">{{'ocsp_web_streams_manage_051' | translate}}</h3>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <p>{{'ocsp_web_streams_manage_050' | translate}}</p>
      </div>
      <div class="modal-footer">
        <button class="btn oc-button" ng-click="closeModal()">{{'ocsp_web_common_038' | translate}}</button>
      </div>
    </form>
  </div>
</script>

<div class="">
    <ng-include src="'views/task/sidebar.html'"></ng-include>
    <button class="btn-create-stream" ng-class="{false:'oc-button'}[isAdminUser]" href="" ng-disabled="isAdminUser" ng-click="createOneStream()">
      <span class="fa fa-2x fa-plus"/> {{'ocsp_web_createstream' | translate }}
    </button>
    <div class="uk-grid">
      <!-- leave for wizard -->
      <div class="uk-width-1-1">

        <table ng-table="allJobsListParams" class="uk-table uk-table-hover">
          <thead>
            <tr>
              <th>{{'ocsp_web_streams_manage_052' | translate}}</th>
              <th>{{'ocsp_web_streams_manage_053' | translate}}</th>
              <th>{{'ocsp_web_streams_manage_054' | translate}}</th>
              <th ng-show="isAdminUser">Owner</th>
              <th>{{'ocsp_web_streams_manage_023' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in $data">
              <td class="centertext uk-width-2-10"><a class="task-name" href="#/task_management/{{item.id}}">{{item.name}}</a></td>
              <td class="centertext uk-width-2-10"><ocsp-stream-run-status ng-model="item"></ocsp-stream-run-status></td>
              <td class="centertext uk-width-2-10"><font>{{item.running_time || 0 | cusDate}}</font></td>
              <td ng-show="isAdminUser" class="centertext uk-width-1-10">{{item.owner}}</a></td>
              <td class="uk-width-2-10">
                <div class="btn-group">
                  <font>
                    <button href="" class="uk-button oc-button" ng-disabled="item.status !== 0 && item.status !== 'STOPPED' || isAdminUser" ng-click="updateStreamStatus(item,'start')"><i class="fa fa-lg fa-play-circle"></i></button>
                  </font>
                  <font>
                    <button href="" class="uk-button oc-button" ng-disabled="item.status === 0 || item.status === 'STOPPED' || isAdminUser" ng-click="updateStreamStatus(item,'stop')"><i class="fa fa-lg fa-stop-circle"></i></button>
                  </font>
                  <!-- <font>
                    <button href="" class="oc-button" ng-disabled="item.status === 0 || item.status === 'STOPPED' || isAdminUser" ng-click="updateStreamStatus(item,'restart')"><i class="glyphicon glyphicon-refresh danger"></i></button>
                  </font> -->
                  <!-- <font>
                    <button href="" ng-disabled="false" ng-click="updateStreamStatus(item,'remove')"><i class="glyphicon glyphicon-remove-sign warning"></i></button>
                  </font> -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
</div>