<script type="text/ng-template" id="create_stream.html">
    <div class="modal-header">
      <button type="button" class="close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
      <h3 class="modal-title">{{'ocsp_web_createstream' | translate }}</h3>
    </div>
    <div class="modal-body nopadding">
        <ocspwizard title="{{'ocsp_web_streams_manage_001' | translate}}" name="ocsp_web_streams_manage_001" submit-method="tryToSumit()" task="task">
        <wz-step wz-title="{{'ocsp_web_stream_basicconfig' | translate }}">
            <div class="form-group">
                <label>Stream Engine Type*</label>
                <!-- <input type="text" name="name" class="form-control" ng-model="task.name" required> -->
                <div ng-show="stormenabled">
                    <select class="form-control" ng-model="task.enginetype" required>
                        <option value ="SPARK" selected="true">SPARK</option>
                        <option value ="STORM">STORM</option>
                    </select>
                </div>
                <div ng-show="!stormenabled">
                    <select class="form-control" ng-model="task.enginetype" required>
                        <option value ="SPARK" selected="true">SPARK</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>{{'ocsp_web_common_011' | translate}}*</label>
                <input type="text" name="name" class="form-control" ng-model="task.name" required>
            </div>
            <div class="form-group" ng-show="task.enginetype === 'SPARK'">
                <label>{{'ocsp_web_common_012' | translate}}</label>
                <textarea ng-model="task.description" class="form-control" rows="6"></textarea>
            </div>
        </wz-step>
        <wz-step wz-title="{{'ocsp_web_stream_configinput' | translate }}">
            <div class="form-group">
                <label>{{'ocsp_web_streams_manage_038' | translate}}*</label>
                <ui-select ng-model="task.input.datasource" ng-required="true">
                    <ui-select-match>
                        <span ng-bind="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="datasource in (inputDatasources | filter: $select.search) track by datasource.id">
                        <span ng-bind="datasource.name"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <button type="button" class="btn oc-button" ng-click="addInputSource(task.input.inputs)">{{'ocsp_web_streams_manage_045' | translate}}</button>
                <uib-accordion>
                    <div uib-accordion-group class="panel-default" ng-repeat="item in task.input.inputs" is-open="item.isOpen">
                        <uib-accordion-heading>
                            <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': item.isOpen, 'glyphicon-chevron-right': !item.isOpen}"></i>            &nbsp; {{'ocsp_web_streams_manage_038' | translate}} {{item.name}}
                            <a class="pull-right" ng-click="$event.stopPropagation();$event.preventDefault();remove(task.input.inputs, $index)"><i
                                    class="glyphicon glyphicon-remove"></i></a>
                        </uib-accordion-heading>
                        <div class="container-fluid">
                            <div class="form-group">
                                <label>{{'ocsp_web_streams_manage_010' | translate}}*</label>
                                <input type="text" class="form-control" ng-model="item.topic" required>
                            </div>
                            <div class="form-group">
                                <label>{{'ocsp_web_common_011' | translate}}*</label>
                                <input type="text" class="form-control" ng-model="item.name" required>
                            </div>
                            <div class="form-group">
                                <label>{{'ocsp_web_streams_manage_011' | translate}}*</label>
                                <tokenfield ng-model="item.fields" required="true"></tokenfield>
                            </div>
                            <div class="form-group">
                                <label>{{'ocsp_web_streams_manage_012' | translate}}*</label>
                                <input type="text" class="form-control" ng-model="item.delim" required>
                            </div>
                        </div>
                    </div>
                </uib-accordion>
            </div>
            <div class="form-group">
                <label>{{'ocsp_web_streams_manage_047' | translate}}*</label>
                <tokenfield ng-model="task.input.fields" disabled="true" required="true"></tokenfield>
            </div>
            <div class="form-group">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-3">{{'ocsp_web_streams_case_field_name' | translate}}</th>
                        <th class="col-md-8">{{'ocsp_web_streams_case_expression' | translate}}</th>
                        <th class="col-md-1"><a ng-click="addUserField(task.input)"><i class="glyphicon glyphicon-plus"></i></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="userfield in task.input.userFields">
                        <td><input type="text" class="form-control" ng-model="userfield.pname" required></td>
                        <td><input type="text" class="form-control" ng-model="userfield.pvalue" required></td>
                        <td><a ng-click="remove(task.input.userFields, $index)"><i class="glyphicon glyphicon-remove"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <label>{{'ocsp_web_streams_manage_013' | translate}}</label>
                <input type="text" class="form-control" ng-model="task.input.filter_expr">
            </div>
            <div class="form-group">
                <label>{{'ocsp_web_streams_manage_014' | translate}}*</label>
                <input type="text" class="form-control" ng-model="task.input.uniqueKey" required>
            </div>
            <div class="form-group">
                <button type="button" class="btn oc-button" ng-click="generate(task.input, task.input.inputs)">{{'ocsp_web_streams_manage_048' | translate}}</button>
            </div>
        </wz-step>
        <wz-step wz-title="{{'ocsp_web_stream_configlabel' | translate }}">
          <div class="form-group">
              <isteven-multi-select input-model="inputLabels" output-model="task.outputLabels" button-label="name" item-label="name" tick-property="tick1"
                                    helper-elements="filter" translation="localLang" required>
              </isteven-multi-select>
          </div>
          <div class="form-group">
              <ul dnd-list="task.outputLabels">
                  <li ng-repeat="item in task.outputLabels" dnd-draggable="item" dnd-moved="sortLabels(task.outputLabels, $index)" dnd-effect-allowed="move"
                      dnd-selected="models.selected = item" ng-class="{'selected': models.selected === item}">
                      <dnd-nodrag>
                          <div dnd-handle class="handle"><span class="badge">{{$index+1}}</span>&nbsp;{{item.name}}</div>
                      </dnd-nodrag>
                  </li>
                  <li class="dndPlaceholder">
                      {{'ocsp_web_streams_manage_015' | translate}}
                  </li>
              </ul>
          </div>
        </wz-step>
        <wz-step wz-title="{{'ocsp_web_stream_configoutput' | translate }}">
            <div class="form-group" ng-if="cep">
                <div class="alert alert-danger alert-dismissible text-center" role="alert">
                    {{'ocsp_web_streams_cep1' | translate}} {{'ocsp_web_common_037' | translate}} {{'ocsp_web_streams_cep2' | translate}}
                </div>
            </div>
            <div class="form-group" ng-if="!cep">
                <button type="button" class="btn oc-button" ng-click="addNewEvent(task.events)">{{'ocsp_web_streams_manage_016' | translate}}
                </button>
                <uib-accordion>
                    <div uib-accordion-group class="panel-default" ng-repeat="item in task.events" is-open="item.isOpen">
                        <uib-accordion-heading>
                            <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': item.isOpen, 'glyphicon-chevron-right': !item.isOpen}"></i>            &nbsp; {{'ocsp_web_streams_manage_031' | translate}} {{item.name}}
                            <a class="pull-right" ng-click="$event.stopPropagation();$event.preventDefault();remove(task.events, $index)"><i
                                    class="glyphicon glyphicon-remove"></i></a>
                        </uib-accordion-heading>
                        <div class="container-fluid">
                            <div class="form-group">
                                <label>{{'ocsp_web_streams_manage_017' | translate}}*</label>
                                <input type="text" class="form-control" ng-model="item.name" required>
                            </div>
                            <div class="form-group">
                                <label>{{'ocsp_web_streams_manage_018' | translate}}*</label>
                                <tokenfield inputs="{{getAllPossibleFields(task.input.fields,task.input.userFields)}}" labels="{{task.outputLabels}}" ng-model="item.select_expr"
                                            checkinputfield=true required="true"></tokenfield>
                                <span id="idWarningMessageOfTokenField" class="redtip" ng-show="outputFieldsInvalid">{{outputFieldsInvalidMessage}}</span>
                            </div>
                            <div class="form-group">
                                <label>{{'ocsp_web_streams_manage_019' | translate}}*</label>
                                <input type="text" class="form-control" ng-model="item.delim" required>
                            </div>
                            <div class="form-group">
                                <label>{{'ocsp_web_streams_manage_013' | translate}}</label>
                                <input type="text" class="form-control" ng-model="item.filter_expr">
                            </div>
                            <div class="form-group">
                                <label>{{'ocsp_web_streams_manage_020' | translate}}({{'ocsp_web_common_023' | translate}})*</label>
                                <input type="number" class="form-control" ng-model="item.interval" ng-pattern="/^(0|[1-9][0-9]*)$/" required>
                            </div>
                            <div class="form-group">
                                <label>{{'ocsp_web_streams_manage_014' | translate}}*</label>
                                <input type="text" class="form-control" ng-model="item.output.uniqueKey" required>
                            </div>
                            <div class="form-group">
                                <label>{{'ocsp_web_streams_manage_021' | translate}}*</label>
                                <ui-select ng-model="item.output.datasource" ng-required="true">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="datasource in (datasources | filter: $select.search) track by datasource.id">
                                        <span ng-bind="datasource.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group" ng-if="item.output.datasource.type == 'kafka'">
                                <label>{{'ocsp_web_streams_manage_010' | translate}}*</label>
                                <input type="text" class="form-control" ng-model="item.output.topic" required>
                            </div>
                            <div class="form-group" ng-if="item.output.datasource.type == 'codis'">
                                <label>{{'ocsp_web_streams_manage_022' | translate}}*</label>
                                <input type="text" class="form-control" ng-model="item.output.codisKeyPrefix" required>
                            </div>
                            <div class="form-group">
                                <br ng-repeat="val in datasources">
                            </div>
                        </div>
                    </div>
                </uib-accordion>
            </div>
        </wz-step>
        <wz-step wz-title="{{'ocsp_web_stream_checkandsubmit' | translate }}">
            <h1 class="page-header">
                {{task.name}}
            </h1>
            <div class="form-group" ng-show="task.input.inputs !== undefined && task.input.inputs.length > 0">
                <label>{{'ocsp_web_streams_manage_038' | translate}}:</label>
                <ul class="list-group">
                    <li ng-repeat="item in task.input.inputs" class="list-group-item"><strong>{{item.name}}</strong></li>
                </ul>
            </div>
            <div ng-show="task.outputLabels !== undefined && task.outputLabels.length > 0" class="form-group">
                <label>{{'ocsp_web_common_024' | translate}}:</label>
                <ul class="list-group">
                    <li ng-repeat="item in task.outputLabels" class="list-group-item"><span class="badge">{{$index+1}}</span>&nbsp;{{item.name}}</li>
                </ul>
            </div>
            <div ng-show="task.events !== undefined && task.events.length > 0" class="form-group">
                <label>{{'ocsp_web_common_025' | translate}}:</label>
                <ul class="list-group">
                    <li ng-repeat="item in task.events" class="list-group-item"><strong>{{item.name}}</strong>({{item.output.datasource.type}})</li>
                </ul>
            </div>
        </wz-step>
      </ocspwizard>
    </div>
  </script>