<a href="#createStreamPopupPageId" data-uk-modal></a>
<div id="createStreamPopupPageId" class="uk-modal uk-form">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">{{'ocsp_web_createstream' | translate }}</h3>
        </div>

        <div class="">
            <ocspwizard title="{{'ocsp_web_streams_manage_001' | translate}}" name="ocsp_web_streams_manage_001" submit-method="tryToSumit()"
                task="task">
                <wz-step wz-title="{{'ocsp_web_stream_basicconfig' | translate }}">
                    <div class="uk-grid">
                        <label class="uk-width-1-5">Stream Engine Type*</label>
                        <div ng-show="stormenabled" class="uk-width-4-5">
                            <select class="uk-width-3-4" ng-model="task.enginetype" required>
                                <option value="SPARK" selected="true">SPARK</option>
                                <option value="STORM">STORM</option>
                            </select>
                        </div>
                        <div ng-show="!stormenabled" class="uk-width-4-5">
                            <select class="uk-width-3-4" ng-model="task.enginetype" required>
                                <option value="SPARK" selected="true">SPARK</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <label class="uk-width-1-5">{{'ocsp_web_common_011' | translate}}*</label>
                        <div class="uk-width-4-5">
                            <input type="text" name="name" class="uk-width-3-4" ng-model="task.name" required>
                        </div>
                    </div>
                    <div class="uk-grid" ng-show="task.enginetype === 'SPARK'">
                        <label class="uk-width-1-5">{{'ocsp_web_common_012' | translate}}</label>
                        <div class="uk-width-4-5">
                            <textarea ng-model="task.description" class="uk-width-3-4" rows="6"></textarea>
                        </div>
                    </div>
                </wz-step>
                <wz-step wz-title="{{'ocsp_web_stream_configinput' | translate }}">
                    <div class="uk-grid">
                        <label class="uk-width-1-5">{{'ocsp_web_streams_manage_038' | translate}}*</label>
                        <div class="uk-width-4-5">
                            <select class="uk-width-3-4" ng-model="task.input.datasource" ng-options="inputDatasource.name for inputDatasource in inputDatasources"
                                ng-required="true">
                            </select>
                        </div>
                    </div>
                    <div class="">
                        <button type="button" class="uk-button oc-button" ng-click="addInputSource(task.input.inputs)">{{'ocsp_web_streams_manage_045' | translate}}</button>
                        <div class="uk-width-1-5">
                        </div>
                        <div class="uk-width-4-5">
                            <div class="uk-width-3-4 uk-push-1-4">
                                <div class="uk-accordion" data-uk-accordion data="{collapse: true}" ng-repeat="item in task.input.inputs">
                                    <h3 class="uk-accordion-title">
                                        <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': item.isOpen, 'glyphicon-chevron-right': !item.isOpen}"></i> &nbsp; {{'ocsp_web_streams_manage_038' | translate}} {{item.name}}
                                        <a class="pull-right" ng-click="$event.stopPropagation();$event.preventDefault();remove(task.input.inputs, $index)">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                    </h3>
                                    <div class="uk-accordion-content">
                                        <div class="uk-grid">
                                            <label class="uk-width-1-5">{{'ocsp_web_streams_manage_010' | translate}}*</label>
                                            <div class="uk-width-4-5">
                                                <input type="text" class="uk-width-3-4" ng-model="item.topic" required>
                                            </div>
                                        </div>
                                        <div class="uk-grid">
                                            <label class="uk-width-1-5">{{'ocsp_web_common_011' | translate}}*</label>
                                            <div class="uk-width-4-5">
                                                <input type="text" class="uk-width-3-4" ng-model="item.name" required>
                                            </div>
                                        </div>
                                        <div class="uk-grid">
                                            <label class="uk-width-1-5">{{'ocsp_web_streams_manage_011' | translate}}*</label>
                                            <div class="uk-width-4-5">
                                                <tokenfield class="uk-width-3-4" ng-model="item.fields" required="true"></tokenfield>
                                            </div>
                                        </div>
                                        <div class="uk-grid">
                                            <label class="uk-width-1-5">{{'ocsp_web_streams_manage_012' | translate}}*</label>
                                            <div class="uk-width-4-5">
                                                <input type="text" class="uk-width-3-4" ng-model="item.delim" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <label class="uk-width-1-5">{{'ocsp_web_streams_manage_047' | translate}}*</label>
                        <div class="uk-width-4-5">
                            <tokenfield class="uk-width-3-4" ng-model="task.input.fields" disabled="true" required="true"></tokenfield>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-5">
                        </div>
                        <div class="uk-width-4-5">
                            <button type="button" class="uk-button oc-button" ng-click="generate(task.input, task.input.inputs)">{{'ocsp_web_streams_manage_048' | translate}}</button>
                        </div>

                    </div>
                    <div class="uk-grid">
                        <label class="uk-width-1-5"></label>
                        <div class="uk-width-4-5">
                            <div class="uk-width-3-4">
                                <table class="uk-table uk-table-hover uk-table-condensed">
                                    <thead>
                                        <tr>
                                            <th width="30%">{{'ocsp_web_streams_case_field_name' | translate}}</th>
                                            <th width="60">{{'ocsp_web_streams_case_expression' | translate}}</th>
                                            <th width="10%">
                                                <a ng-click="addUserField(task.input)">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="userfield in task.input.userFields">
                                            <td>
                                                <input type="text" class="uk-width-1-1" ng-model="userfield.pname" required>
                                            </td>
                                            <td>
                                                <input type="text" class="uk-width-1-1" ng-model="userfield.pvalue" required>
                                            </td>
                                            <td>
                                                <a ng-click="remove(task.input.userFields, $index)">
                                                    <i class="fas fa-minus-circle"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <label class="uk-width-1-5">{{'ocsp_web_streams_manage_013' | translate}}</label>
                        <div class="uk-width-4-5">
                            <input type="text" class="uk-width-3-4" ng-model="task.input.filter_expr">
                        </div>
                    </div>
                    <div class="uk-grid">
                        <label class="uk-width-1-5">{{'ocsp_web_streams_manage_014' | translate}}*</label>
                        <div class="uk-width-4-5">
                            <input type="text" class="uk-width-3-4" ng-model="task.input.uniqueKey" required>
                        </div>

                    </div>

                </wz-step>
                <wz-step wz-title="{{'ocsp_web_stream_configlabel' | translate }}">
                    <div class="uk-grid">
                        <div class="uk-width-1-5">
                        </div>
                        <div class="uk-width-4-5">
                            <isteven-multi-select input-model="inputLabels" output-model="task.outputLabels" button-label="name" item-label="name" tick-property="tick1"
                                helper-elements="filter" translation="localLang" required>
                            </isteven-multi-select>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-5"></div>
                        <div class="uk-width-4-5">
                            <div class="uk-width-3-4">
                                <ul dnd-list="task.outputLabels">
                                    <li ng-repeat="item in task.outputLabels" dnd-draggable="item" dnd-moved="sortLabels(task.outputLabels, $index)" dnd-effect-allowed="move"
                                        dnd-selected="models.selected = item" ng-class="{'selected': models.selected === item}">
                                        <dnd-nodrag>
                                            <div dnd-handle class="handle">
                                                <span class="badge">{{$index+1}}</span>&nbsp;{{item.name}}</div>
                                        </dnd-nodrag>
                                    </li>
                                    <li class="dndPlaceholder">
                                        {{'ocsp_web_streams_manage_015' | translate}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </wz-step>
                <wz-step wz-title="{{'ocsp_web_stream_configoutput' | translate }}">
                    <div class="uk-grid" ng-if="cep">
                        <div class="alert alert-danger alert-dismissible text-center" role="alert">
                            {{'ocsp_web_streams_cep1' | translate}} {{'ocsp_web_common_037' | translate}} {{'ocsp_web_streams_cep2' | translate}}
                        </div>
                    </div>
                    <div class="uk-grid" ng-if="!cep">
                        <div class=""></div>
                        <div class="uk-width-4-5">
                            <button type="button" class="uk-button oc-button" ng-click="addNewEvent(task.events)">{{'ocsp_web_streams_manage_016' | translate}}
                            </button>
                            <div class="uk-accordion" data-uk-accordion data="{collapse: false}" ng-repeat="item in selectedJob.events">
                                <h3 class="uk-accordion-title">
                                    <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': item.isOpen, 'glyphicon-chevron-right': !item.isOpen}"></i> &nbsp; {{'ocsp_web_streams_manage_031' | translate}} {{item.name}}
                                    <a class="pull-right" ng-click="$event.stopPropagation();$event.preventDefault();remove(task.events, $index)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </h3>
                                <div class="uk-accordion-content">
                                    <div class="uk-grid">
                                        <label>{{'ocsp_web_streams_manage_017' | translate}}*</label>
                                        <input type="text" class="form-control" ng-model="item.name" required>
                                    </div>
                                    <div class="uk-grid">
                                        <label>{{'ocsp_web_streams_manage_018' | translate}}*</label>
                                        <tokenfield inputs="{{getAllPossibleFields(task.input.fields,task.input.userFields)}}" labels="{{task.outputLabels}}" ng-model="item.select_expr"
                                            checkinputfield=true required="true"></tokenfield>
                                        <span id="idWarningMessageOfTokenField" class="redtip" ng-show="outputFieldsInvalid">{{outputFieldsInvalidMessage}}</span>
                                    </div>
                                    <div class="uk-grid">
                                        <label>{{'ocsp_web_streams_manage_019' | translate}}*</label>
                                        <input type="text" class="form-control" ng-model="item.delim" required>
                                    </div>
                                    <div class="uk-grid">
                                        <label>{{'ocsp_web_streams_manage_013' | translate}}</label>
                                        <input type="text" class="form-control" ng-model="item.filter_expr">
                                    </div>
                                    <div class="uk-grid">
                                        <label>{{'ocsp_web_streams_manage_020' | translate}}({{'ocsp_web_common_023' | translate}})*</label>
                                        <input type="number" class="form-control" ng-model="item.interval" ng-pattern="/^(0|[1-9][0-9]*)$/" required>
                                    </div>
                                    <div class="uk-grid">
                                        <label>{{'ocsp_web_streams_manage_014' | translate}}*</label>
                                        <input type="text" class="form-control" ng-model="item.output.uniqueKey" required>
                                    </div>
                                    <div class="uk-grid">
                                        <label>{{'ocsp_web_streams_manage_021' | translate}}*</label>
                                        <ui-select ng-model="item.output.datasource" ng-required="true">
                                            <ui-select-match>
                                                <span ng-bind="$select.selected.name"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="datasource in (datasources | filter: $select.search) track by datasource.id">
                                                <span ng-bind="datasource.name"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="uk-grid" ng-if="item.output.datasource.type == 'kafka'">
                                        <label>{{'ocsp_web_streams_manage_010' | translate}}*</label>
                                        <input type="text" class="form-control" ng-model="item.output.topic" required>
                                    </div>
                                    <div class="uk-grid" ng-if="item.output.datasource.type == 'codis'">
                                        <label>{{'ocsp_web_streams_manage_022' | translate}}*</label>
                                        <input type="text" class="form-control" ng-model="item.output.codisKeyPrefix" required>
                                    </div>
                                    <div class="uk-grid">
                                        <br ng-repeat="val in datasources">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </wz-step>
                <wz-step wz-title="{{'ocsp_web_stream_checkandsubmit' | translate }}">
                    <h1 class="page-header">
                        {{task.name}}
                    </h1>
                    <div class="uk-grid" ng-show="task.input.inputs !== undefined && task.input.inputs.length > 0">
                        <label class="uk-width-1-5">{{'ocsp_web_streams_manage_038' | translate}}:</label>
                        <div class="uk-width-4-5">
                            <ul class="">
                                <li ng-repeat="item in task.input.inputs" class="uk-width-3-4">
                                    <strong>{{item.name}}</strong>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div ng-show="task.outputLabels !== undefined && task.outputLabels.length > 0" class="form-group">
                        <label>{{'ocsp_web_common_024' | translate}}:</label>
                        <ul class="list-group">
                            <li ng-repeat="item in task.outputLabels" class="list-group-item">
                                <span class="badge">{{$index+1}}</span>&nbsp;{{item.name}}</li>
                        </ul>
                    </div>
                    <div ng-show="task.events !== undefined && task.events.length > 0" class="form-group">
                        <label>{{'ocsp_web_common_025' | translate}}:</label>
                        <ul class="list-group">
                            <li ng-repeat="item in task.events" class="list-group-item">
                                <strong>{{item.name}}</strong>({{item.output.datasource.type}})</li>
                        </ul>
                    </div>
                </wz-step>
            </ocspwizard>
        </div>
    </div>
</div>