
<a href="#alarmConfigDetailsPopupPageId" data-uk-modal></a>
<div id="alarmConfigDetailsPopupPageId" class="uk-modal" uk-modal="stack: true">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header">
            <h3 class="">{{'ocsp_web_alarm_configuration_detail' | translate}}</h3>
        </div>

        <div class="">
            <h2>{{errorMsg}}</h2>
        </div>
        <div class="">
            <table ng-table="allAlarmPropertiesCanBeConfigured" class="uk-table uk-table-hover uk-table-condensed">
                <colgroup>
                    <col width="30%" />
                    <col width="70%" />
                </colgroup>
                <tbody>
                    <tr ng-repeat="onePropertyItem in $data">
                        <td title="'ocsp_web_common_name' | translate" ng-form="name">
                            <input type="text" name="name" readonly="true" ng-model="onePropertyItem.name" class="form-control" required/>
                        </td>
                        <td title="'ocsp_web_common_value' | translate" ng-form="name">
                            <input type="text" name="value" ng-model="onePropertyItem.value" class="form-control" required/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="uk-modal-footer">
            <button type="button" class="btn oc-button" ng-click="saveAndCloseDetailModal()">
                {{'ocsp_web_common_038' | translate}}
            </button>
        </div>
    </div>
</div>


<a href="#alarmConfigPopupPageId" data-uk-modal></a>
<div id="alarmConfigPopupPageId" class="uk-modal" uk-modal="stack: true">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <a class="uk-modal-close uk-close"></a>
        
        <div class="uk-modal-header">
            <h3 class="">{{'ocsp_web_alarmmanagement_config' | translate}}</h3>
        </div>
        <div class="uk-overflow-containe">
            <table ng-table="allStreams" class="uk-table uk-table-hover uk-table-condensed">
                <thead>
                    <tr>
                        <th>{{'ocsp_web_alarm_configuration_name' | translate}}</th>
                        <th>{{'ocsp_web_alarm_configuration_current' | translate}}</th>
                        <th>{{'ocsp_web_alarm_configuration_latest' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in $data" ng-click="item.selected = !item.selected">
                        <td class="centertext">
                            <input name="{{item.id}}" type="checkbox" ng-click="item.selected = !item.selected" ng-model="item.selected" /> {{item.name}}
                        </td>
                        <td>
                            <textarea ng-model="item.oldAlarmConfigsString" class="form-control" rows="2" ng-disabled="true" />
                        </td>
                        <td>
                            <textarea ng-model="item.newAlarmConfigsString" class="form-control" rows="2" ng-disabled="true" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br/>

        <div class="uk-modal-footer">
            <div class="">
                <button type="button" class="uk-button oc-button" ng-disabled="!calcSelectedItems(allStreamsData)" data-uk-modal="{target:'#alarmConfigDetailsPopupPageId'}">
                    {{ 'ocsp_web_common_configuration' | translate }}
                </button>
                <button type="button" class="uk-button oc-button" ng-click="saveAndCloseModal()">
                    {{'ocsp_web_common_009' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>


<div class="uk-grid uk-form">
    <div class="uk-width-1-10">
    </div>
    <div class="uk-width-8-10">
        <div class="uk-panel uk-panel-box-primary">
            <div class="uk-panel-header">
                <div class="uk-panel-title">
                    {{'ocsp_web_alarmmanagement_config' | translate}}
                </div>
            </div>
            <div class="fieldset">
                <table ng-table="allAlarmDefinitions" class="uk-table">
                    <colgroup>
                        <col width="35%" />
                        <col width="20%" />
                        <col width="30%" />
                        <col width="15%" />
                    </colgroup>
                    <tr ng-repeat="oneAlarmDefinition in $data">
                        <td title=" 'ocsp_web_alarm_alarmname' | translate " ng-form="alarm_name">
                            <a>{{oneAlarmDefinition.alarm_name}}</a>
                        </td>
                        <td title=" 'ocsp_web_alarm_alarmlevel' | translate " ng-form="alarm_level">
                            <a>{{oneAlarmDefinition.alarm_levelName}}</a>
                        </td>
                        <td title=" 'ocsp_web_alarm_alarmcomponentname' | translate " ng-form="alarm_component_name">
                            <a>{{oneAlarmDefinition.alarm_component_name}}</a>
                        </td>
                        <td title="'ocsp_web_streams_manage_023' | translate" ng-form="action">
                            <!-- <a ng-click="showConfigPage(oneAlarmDefinition)" class="uk-button oc-button">{{'ocsp_web_common_check' | translate}}</a> -->
                            <!-- <button ng-click="showConfigPage(oneAlarmDefinition)" class="uk-button oc-button" data-uk-modal="{target:'#my-id'}">{{'ocsp_web_common_check' | translate}}</button> -->
                            <button ng-click="getConfigPageData(oneAlarmDefinition)" class="uk-button oc-button" data-uk-modal="{target:'#alarmConfigPopupPageId'}">{{'ocsp_web_common_check' | translate}}</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="uk-grid uk-form">
    <div class="uk-width-1-10"></div>
    <div class="uk-width-8-10">
        <div class="uk-panel uk-panel-box-primary">
            <div class="uk-panel-header">
                <div class="uk-panel-title">
                    {{'ocsp_web_alarmmanagement' | translate}}
                </div>
            </div>
            <div class="fieldset">
                <table ng-table="allAlarms" class="uk-table">
                    <colgroup>
                        <col width="15%" />
                        <col width="10%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                    </colgroup>
                    <tr ng-repeat="oneAlarm in $data">
                        <td title="'ocsp_web_alarm_alarmname' | translate " ng-form="alarmlevel">
                            <a>{{oneAlarm.alarm_name}}</a>
                        </td>
                        <td title="'ocsp_web_alarm_alarmstatus' | translate " ng-form="alarmlevel">
                            <a class="btn" ng-class="{true:'btn-danger',false:'btn-warning'}[oneAlarm.alarm_level.en==='Critical']" ng-if="oneAlarm.alarm_type==='0'">{{{"en":"WARN","zh":"告警"}[lang]}}</a>
                            <a class="btn btn-success" ng-if="oneAlarm.alarm_type==='1'">{{{"en":"OK","zh":"已恢复"}[lang]}}</a>
                        </td>
                        <td title=" 'ocsp_web_streams_manage_052' | translate " ng-form="taskid">
                            <a>{{oneAlarm.name}}</a>
                        </td>
                        <td title=" 'ocsp_web_alarm_alarmcomponentname' | translate " ng-form="componentname">
                            <a>{{oneAlarm.componentNameFromTargetTable}}</a>
                        </td>
                        <td title=" 'ocsp_web_alarm_alarmlevel' | translate " ng-form="alarmlevel">
                            <a>{{oneAlarm.alarm_levelName}}</a>
                        </td>
                        <td title="'ocsp_web_common_alarmtime' | translate" ng-form="alarmtime">
                            <a>{{oneAlarm.alarm_time}}</a>
                        </td>
                        <td title="'ocsp_web_streams_manage_023' | translate" ng-form="action">
                            <a href="#/alarmmanagement/{{oneAlarm.stream_alarm_id}}" class="btn oc-button">{{'ocsp_web_common_check' | translate}}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>