<div class="uk-grid uk-form" ng-form name="mainForm">
  <div class="uk-width-1-1">
    <div class="uk-panel" ng-if="isAdmin()">
      <div class="uk-panel-header">
        <div class="uk-panel-title">
          {{'ocsp_web_user_manage_000' | translate}}
        </div>
      </div>
      <div class="fieldset">
        <div class="">
          <div class="uk-gird">
            <div class="uk-width-1-1">
              <a class="uk-button oc-button uk-push-9-10" ng-click="add(users)">
                <i class="fas fa-plus"></i>
                {{'ocsp_web_user_new_user' | translate}}
              </a>
              <a class="uk-button oc-button uk-push-9-10" ng-click="saveUsers()">
                {{'ocsp_web_common_009' | translate}}
              </a>
            </div>
          </div>
          <div class="" style="margin-top: 10px;">
            <table class="table" class="uk-table uk-table-hover">
              <thead>
                <tr>
                  <th width="10%">{{'ocsp_web_user_name' | translate}}</th>
                  <th width="40%">{{'ocsp_web_user_desc' | translate}}</th>
                  <th width="40%">{{'ocsp_web_user_new_password' | translate}}</th>
                  <th width="10%">{{'ocsp_web_streams_manage_023' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="u in users">
                  <td>
                    <input name="username_{{$index}}" type="text" class="uk-width-1-1" ng-model="u.name" required="true">
                  </td>
                  <td>
                    <input type="text" class="uk-width-1-1" ng-model="u.description">
                  </td>
                  <td>
                    <input name="password_{{$index}}" type="password" class="uk-width-1-1" ng-model="u.password" ng-required="u.status===1">
                  </td>
                  <td>
                    <div class="">
                      <a class="uk-button uk-button-danger oc-link" ng-click="remove(users, $index)">
                        {{'ocsp_web_streams_manage_027' | translate}}
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-panel" ng-if="!isAdmin()">
      <div class="uk-panel-header">
        <div class="uk-panel-title">
          {{'ocsp_web_user_manage_000' | translate}}
          <span class="pull-right">
            <ocsp-switch-btn save-func="save()" edit-func="edit()" cancel-func="cancel()" disabled="user.isDBUser!==true"></ocsp-switch-btn>
          </span>
        </div>


      </div>
      <div class="fieldset">
        <div class="uk-form-row">
          <div class="uk-grid">
            <div class="uk-width-1-10">
              <label>{{'ocsp_web_user_manage_002' | translate}}</label>
            </div>
            <div class="uk-width-9-10">
              <input class="form-control" type="password" ng-model="user.oldPassword" required ng-disabled="user.isDBUser!==true || !fieldsEditable">
            </div>
          </div>
        </div>

        <div class="uk-form-row">
          <div class="uk-grid">
            <div class="uk-width-1-10">
              <label>{{'ocsp_web_user_manage_003' | translate}}</label>
            </div>
            <div class="uk-width-9-10">
              <input class="form-control" type="password" ng-model="user.password" required ng-disabled="user.isDBUser!==true || !fieldsEditable">
            </div>
          </div>
        </div>

        <div class="uk-form-row">
          <div class="uk-grid">
            <div class="uk-width-1-10">
              <label>{{'ocsp_web_user_manage_004' | translate}}</label>
            </div>
            <div class="uk-width-9-10">
              <input class="form-control" ng-class="styles" type="password" ng-model="user.password2" required ng-blur="checkPassword()"
                ng-disabled="user.isDBUser!==true || !fieldsEditable"> {{message}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>