// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.main-container{
  min-height: 100%;
  margin-bottom: -50px;
}

.footer {
  border-top: solid 1px #e7e7e7;
  background-color: #f8f8f8;
  bottom: 0;
  height: 50px;
}

/* Custom css*/
.sidebar {
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 20px;
}

.panel {
  margin-top: 10px;
}

.navbar-oc {
  background-color: #C6C6C6;
  margin-bottom: 0;
}

.navbar-oc .navbar-nav > li > a{
  color: dimgrey;
  font-size: 14px;
  font-weight: normal;
}

.navbar-oc .navbar-nav > li > a:focus{
  color: black;
  background-color: transparent;
}

.navbar-oc .navbar-nav > li.active > a:hover {
  color: black;
  background-color: #979A9A;
  border-bottom: 0;
}

.navbar-oc .navbar-nav > li > a:hover {
  color: black;
  background-color: #979A9A;
  box-sizing: border-box;
  border-bottom: solid 2px #979A9A;
}

.navbar-oc .navbar-nav > li:focus,
.navbar-oc .navbar-nav > li.active{
  color: black;
  box-sizing: border-box;
  border-bottom: solid 2px orange;
}

.navbar-oc .navbar-nav > li.placeholder > a:hover{
  color: transparent;
  background-color: transparent;
  box-sizing: border-box;
  border-bottom: 0;
}

.navbar-header .brand{
  color: dimgrey;
  font-size: 16px;
}

.navbar-header .brand:hover{
  color: black;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
  box-sizing: border-box;
  border-bottom: solid 2px #C6C6C6;
}

.divider-vertical {
  height: 51px;
  border-left: 1px solid #979A9A;
  border-right: 1px solid #979A9A;
}

a.oc-link{
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #47B2FB;
  letter-spacing: 0;
  line-height: 14px;
}

a.oc-link:hover{
  color: orange;
}

.oc-button{
  background: #47B2FB;
  border-radius: 4px;
}

.oc-button:hover{
  background: #98D4FD;
}

.oc-button:hover[disabled='disabled']{
  color: white;
  background-color: #AAA;
}

.panel-body{
  border: solid 20px #f5f5f5 !important;
}

.panel-heading{
  border-color: transparent !important;
}

.wizard-card-container {
  height: 300px;
  overflow-y: scroll;
}

.handle {
  cursor: move;
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}

a.choose,
a.choose:hover,
a.list-group-item:focus,
ul#actions > li > a:hover,
ul#quick > li > a:hover{
  background-color: #999999;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

i.danger{
  color:red;
}

i.success{
  color:green;
}

i.warning{
  color:orange;
}

ul#actions > li.disabled > a:hover{
  background-color: #999999;
  color: #777777;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

g div{
  color: black;
  font-size: 14px;
}

.text-center {
  text-align: center;
}

a:hover, a:focus {
  text-decoration: none;
}

input.ng-invalid.ng-touched,
div.ng-invalid.ng-touched div.tokenfield,
div.ng-invalid.ng-touched.ui-select-container span.ui-select-toggle{
  border: 1px solid red;
}

#mainFrame input.ng-invalid.ng-touched + span.input-group-btn button{
  border: 1px solid red;
  color: red;
}

span.redtip,
div.ng-invalid.ng-touched.ui-select-container i.caret.pull-right{
  color: red;
}

.popover-content {
  width: 200px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  outline: 0 !important;
}

ul.ui-autocomplete{
  width: 112px !important;
  z-index: 1100 !important;
}

table a{
  cursor: pointer;
}

table thead th{
  background-color: #f5f5f5;
  border-bottom: 0 !important;
  border-right: solid 2px white;
}

table tbody tr:hover{
  background-color: rgba(243,156,18,0.1);
}

table tbody tr td input,
table tbody tr td div{
  margin-top: 8px;
  margin-bottom: 8px;
}

.cep {
  background-color: #a00;
  box-shadow: 0 0 10px #888;
  color: #FFF;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999;
}

.affix + .container-fluid {
  padding-top: 70px;
}

.navbar-brand.logo {
  padding: 10px 15px;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
// .left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.icon-2x {
  font-size: 2em;
}

.abn-tree i{
  margin-right: 5px;
  outline: none;
}

.modal-dialog{
  margin-top: 90px;
}

.ta-root{
  outline: none;
}

.ta-editor.form-control.editor-height, .ta-scroll-window.form-control.editor-height  {
  height: 100px;
  min-height: 100px;
  overflow: hidden;
  font-family: inherit;
  font-size: 100%;
}

.form-control.editor-height > .ta-bind {
  min-height: 100px;
}

.form-control.editor-height .placeholder-text::before{
  color: #999999;
}

.task-name {
  color: orange;
  font-weight: bold;
  text-decoration: none;
}

.task-name:hover {
  color: orangered;
  text-decoration: none;
}

.ng-table-pagination {
  float:right;
}

.breadcrumb > li + li:before {
  color: #CCCCCC;
  content: "/ ";
  padding: 0 5px;
}

.panelOfStreamConfigPage .streamconfigheader {
  margin-bottom: 0px;
  margin-top: 30px;
  height: 50px;
  background-color: #f0f0f0;
}

.panelOfStreamConfigPage .leftPagePanel {
  background: #F0F0F0;
  height:800px;
}

.panelOfStreamConfigPage .leftPage {
  background: #F0F0F0;
  height:1200px;
  padding-left:0px;
}

.panelOfStreamConfigPage .rightPage {
  margin-top: 0px;
}

.panelOfStreamConfigPage > ul {
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;

}

.panelOfStreamConfigPage .leftPage {
  margin-bottom: 0px;
}

.panelOfStreamConfigPage .leftPage > li {
  margin: 0px 0px 0px 0px;
  list-style-type:none;
  border-width: auto;
  padding:10px 0px 10px 0px;
  width:100%;
  border-left: solid 5px #F0F0F0;
}

.panelOfStreamConfigPage .leftPage > li > a{
  margin-left: 50px;
}

.panelOfStreamConfigPage .leftPage .active{
  background-color:rgb(255, 255, 255);
  border-left: solid 5px orange;
}

.panelOfStreamConfigPage .rightPage{
  margin-top: 15px;
}

.cusPagination > ul > li {
  display: inline-block;
  padding-left: 0px;
}

// .ng-table-pager {
//   display:none;
// }

.cuspagination_stream_management {
  float: right;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.row > input {
  border-radius:0;
}

.row .btn-group > label {
  border-radius:0;
}

.row > textarea {
  border-radius:0;
}

.border0px {
  border-radius:0;
}

.switchbtn {
  background-color:#FFF;
  color: #FFBC73;
  border: 1px solid #FFBC73;
  cursor: pointer;
}

.switchbtn:hover {
  background-color:#FFF;
  color: #FFBC73;
  border: 1px solid #FFBC73;
  cursor: pointer;
}

.centertext {
  padding-top:16px !important;
}

.myalert {
  padding:10px 2px 2px 2px;
}

ocsp-param-editor .container-fluid span{word-break:normal; width:auto; display:block; white-space:pre-wrap;word-wrap : break-word ;overflow: hidden ;} 


.uk-navbar {
  background: #303643;
}

.uk-navbar-nav > li > a {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #FFFFFF;
}

.uk-navbar-nav > li > a:hover {
  background: #242A39;
  box-shadow: inset 0 0 2px 0 #1C212E;
  font-size: 14px;
  color: #FFFFFF;
}

.uk-navbar-nav>li.uk-active>a{
  background: #242A39;
  box-shadow: inset 0 0 2px 0 #1C212E;
  font-size: 14px;
  color: #FFFFFF;
}


html, body {
  background: #F9FAFC;
}

a {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #47B2FB;
  letter-spacing: 0;
}

a:hover {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #98D4FD;
  letter-spacing: 0;
}

a:active {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #168DDE;
  letter-spacing: 0;
}

// input {
//   background: #FFFFFF;
//   border: 1px solid #CCD5E0;
//   border-radius: 4px;
// }

// input:hover {
//   background: #FFFFFF;
//   border: 1px solid #47B2FB;
//   border-radius: 4px;
// }

// input:active {
//   background: #FFFFFF;
//   border: 1px solid #47B2FB;
//   box-shadow: 0 0 2px 0 #47B2FB;
//   border-radius: 4px;
// }

// input[disabled='disabled'] {
//   background: #EFF2F7;
//   border: 1px solid #E0E6ED;
//   border-radius: 4px;
// }

.toggle-switch {
  background: #47B2FB;
  border-radius: 100px;
}

.navbar-brand > span {
  font-size:14px;
}

.uk-button:disabled {
  background: #EFF2F7;
  border: 1px solid #E0E6ED;
  border-radius: 4px;
}







.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}



.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.panelShadow {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}


input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

