<a href="#labelPropertisEditorId" data-uk-modal></a>
<div id="labelPropertisEditorId" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header">
            <h3 class="">{{labelName}}{{'ocsp_web_label_manage_003' | translate}}</h3>
        </div>

        <form name="labelPropEditorForm" id="idLabelPropEditor" class="uk-form">
            <div class="">
                <button class="uk-button oc-button" ng-click="addNewJSONProperty()">
                    <i class="fas fa-plus fa-2x"></i>
                </button>
            </div>
            <br/>
            <div class="">

                <ul class="uk-tab" data-uk-switcher="{connect:'#labelConfigPopupSwitherListId'}">
                    <li>
                        <a href="" ng-click="changeToTab('propitems')">Props</a>
                    </li>
                    <li>
                        <a href="" ng-click="changeToTab('labelitems')">Label Items</a>
                    </li>
                </ul>

                <ul id="labelConfigPopupSwitherListId" class="uk-switcher uk-margin">
                    <li>
                        <table ng-table="listProperties" class="uk-table uk-table-hover uk-table-condensed">
                            <colgroup>
                                <col width="42%" />
                                <col width="42%" />
                                <col width="16%" />
                            </colgroup>
                            <tr ng-repeat="onePropertyItem in $data">
                                <td title="'Name'" ng-form="name">
                                    <input type="text" name="name" ng-disabled="!onePropertyItem.isEditing" ng-model="onePropertyItem.pname" class="uk-width-1-1"
                                        required/>
                                </td>
                                <td title="'Value'" ng-form="name">
                                    <input type="text" name="value" ng-disabled="!onePropertyItem.isEditing" ng-model="onePropertyItem.pvalue" class="uk-width-1-1"
                                        required/>
                                </td>
                                <td>
                                    <button class="uk-button uk-button-small oc-button" style="margin-top:8px;" ng-click="saveProperty(onePropertyItem)" ng-if="onePropertyItem.isEditing"
                                        ng-disabled="rowForm.$pristine || rowForm.$invalid">
                                        <span class="fas fa-check"></span>
                                    </button>
                                    <button class="uk-button uk-button-small" style="margin-top:8px;" ng-click="cancelEdit(onePropertyItem)" ng-if="onePropertyItem.isEditing">
                                        <span class="fas fa-minus-circle"></span>
                                    </button>
                                    <button class="uk-button uk-button-small" style="margin-top:8px;" ng-click="onePropertyItem.isEditing = true" ng-if="!onePropertyItem.isEditing">
                                        <span class="fas fa-pencil-alt"></span>
                                    </button>
                                    <button class="uk-button uk-button-small uk-button-danger" style="margin-top:8px;" ng-click="deleteProperty(onePropertyItem)"
                                        ng-if="!onePropertyItem.isEditing">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </li>

                    <li>
                        <table ng-table="listLabelItems" class="uk-table uk-table-hover uk-table-condensed">
                            <colgroup>
                                <col width="42%" />
                                <col width="42%" />
                                <col width="16%" />
                            </colgroup>
                            <tr ng-repeat="onePropertyItem in $data">
                                <td title="'Name'" ng-form="name">
                                    <input type="text" name="name" ng-disabled="!onePropertyItem.isEditing" ng-model="onePropertyItem.pname" class="uk-width-1-1"
                                        required/>
                                </td>
                                <td title="'Value'" ng-form="name">
                                    <input type="text" name="value" ng-disabled="!onePropertyItem.isEditing" ng-model="onePropertyItem.pvalue" class="uk-width-1-1"
                                        required/>
                                </td>
                                <td>
                                    <button class="uk-button uk-button-small oc-button" style="margin-top:8px;" ng-click="saveProperty(onePropertyItem)" ng-if="onePropertyItem.isEditing"
                                        ng-disabled="rowForm.$pristine || rowForm.$invalid">
                                        <span class="fas fa-check"></span>
                                    </button>
                                    <button class="uk-button uk-button-small" style="margin-top:8px;" ng-click="cancelEdit(onePropertyItem)" ng-if="onePropertyItem.isEditing">
                                        <span class="fas fa-minus-circle"></span>
                                    </button>
                                    <button class="uk-button uk-button-small" style="margin-top:8px;" ng-click="onePropertyItem.isEditing = true" ng-if="!onePropertyItem.isEditing">
                                        <span class="fas fa-pencil-alt"></span>
                                    </button>
                                    <button class="uk-button uk-button-small uk-button-danger" style="margin-top:8px;" ng-click="deleteProperty(onePropertyItem)"
                                        ng-if="!onePropertyItem.isEditing">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
            </div>

            <div class="">
                <br/>
                <a class="uk-button oc-button uk-modal-close" ng-click="saveNewLabelProperties()">
                    {{'ocsp_web_common_009' | translate}}
                </a>
            </div>
        </form>

    </div>
</div>

<div class="uk-grid" ng-cloak>
    <div class="uk-width-1-10"></div>
    <div class="uk-width-8-10">
        <div class="uk-panel">
            <div class="uk-panel-header">
                <div class="uk-panel-title">
                    {{'ocsp_web_label_manage_000' | translate}}
                </div>
            </div>
            <div class="uk-panel-body uk-form uk-form-horizontal">
                <table class="uk-table uk-table-hover uk-table-condensed">
                    <thead>
                        <tr>
                            <th>{{'ocsp_web_label_manage_001' | translate}}</th>
                            <th>{{'ocsp_web_label_manage_004' | translate}}</th>
                            <th>{{'ocsp_web_label_manage_002' | translate}}</th>
                            <th>{{'ocsp_web_label_manage_003' | translate}}</th>
                            <th>{{'ocsp_web_streams_manage_023' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="label in page.labels">
                            <td class="uk-width-1-10">{{label.name}}</td>
                            <td class="uk-width-1-10">{{label.owner}}</td>
                            <td class="uk-width-2-10">{{label.class_name}}</td>
                            <td class="uk-width-5-10">
                                <textarea ng-model="label.properties" class="uk-width-1-1" rows="3" ng-disabled="true" />
                            </td>
                            <td class="uk-width-1-10">
                                <a href="" class="uk-button oc-button" ng-click="editLabelProperties(label)" ng-hide="username!== label.owner && !isAdminUser"
                                    data-uk-modal="{target:'#labelPropertisEditorId'}">{{ 'ocsp_web_common_042' | translate }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="uk-form-row">
                    <ul class="pull-right" uib-pagination total-items="page.totalitems" max-size="page.maxsize" items-per-page="page.perpage"
                        ng-model="page.curpage" first-text="<<" rotate="true" last-text=">>" boundary-links="true" previous-text="<"
                        next-text=">" force-ellipses="3" ng-change="choose(page.curpage)">
                    </ul>
                </div>

                <div class="uk-form-row">
                    <button type="button" class="uk-button oc-button pull-right" ng-click="upload()">{{'ocsp_web_common_010' | translate}}</button>
                    <input ngf-select type="file" ng-model="file">
                    <!-- <div id="upload-drop" class="uk-placeholder uk-text-center">
                        <i class="uk-icon-cloud-upload uk-icon-medium uk-text-muted uk-margin-small-right"></i> 将文件拖拽至此 或
                        <a class="uk-form-file">选择一个文件
                            <input id="upload-select" type="file">
                        </a>.
                    </div>

                    <div id="progressbar" class="uk-progress uk-hidden">
                        <div class="uk-progress-bar" style="width: 0%;">...</div>
                    </div> -->
                </div>

                <div class="uk-form-row">
                    <div class="uk-alert uk-alert-danger" ng-if="message !== null">
                        {{message}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-1-10"></div>
</div>