<script type="text/ng-template" id="labelPropertiesEditor.html">
  <div class="modal-header">
      <button type="button" class="close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
      <h3 class="modal-title">{{labelName}}{{'ocsp_web_label_manage_003' | translate}}</h3>
  </div>
  <div class="modal-body">
      <form name="labelPropEditorForm" id="idLabelPropEditor">
          <div class="form-group">
              <button class="btn oc-button" ng-click="addNewJSONProperty()"><i class="glyphicon glyphicon-plus"></i>
              </button>
          </div>
          <div class="form-group">
              <div class="row">
                  <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active">
                          <a href="" aria-controls="propitems" role="tab" data-toggle="tab"
                             ng-click="tab = 'propitems'">Props</a>
                      </li>
                      <li role="presentation">
                          <a href="" aria-controls="labelitems" role="tab" data-toggle="tab"
                             ng-click="tab = 'labelitems'">Label Items</a>
                      </li>
                  </ul>
              </div>

              <div class="row">
                  <div class="tab-content">
                      <div role="tabpanel" class="tab-pane" id="propitems" ng-class="{'propitems' : 'active'}[tab]">
                          <table ng-table="listProperties" class="table table-condensed table-bordered">
                              <colgroup>
                                  <col width="42%"/>
                                  <col width="42%"/>
                                  <col width="16%"/>
                              </colgroup>
                              <tr ng-repeat="onePropertyItem in $data">
                                  <td title="'Name'" ng-form="name">
                                      <input type="text" name="name" ng-disabled="!onePropertyItem.isEditing"
                                             ng-model="onePropertyItem.pname" class="form-control" required/>
                                  </td>
                                  <td title="'Value'" ng-form="name">
                                      <input type="text" name="value" ng-disabled="!onePropertyItem.isEditing"
                                             ng-model="onePropertyItem.pvalue" class="form-control" required/>
                                  </td>
                                  <td>
                                      <button class="btn oc-button btn-sm" style="margin-top:8px;"
                                              ng-click="saveProperty(onePropertyItem)"
                                              ng-if="onePropertyItem.isEditing"
                                              ng-disabled="rowForm.$pristine || rowForm.$invalid"><span
                                              class="glyphicon glyphicon-ok"></span></button>
                                      <button class="btn btn-default btn-sm" style="margin-top:8px;"
                                              ng-click="cancelEdit(onePropertyItem)"
                                              ng-if="onePropertyItem.isEditing"><span
                                              class="glyphicon glyphicon-remove"></span></button>
                                      <button class="btn btn-default btn-sm" style="margin-top:8px;"
                                              ng-click="onePropertyItem.isEditing = true"
                                              ng-if="!onePropertyItem.isEditing"><span
                                              class="glyphicon glyphicon-pencil"></span></button>
                                      <button class="btn btn-danger btn-sm" style="margin-top:8px;"
                                              ng-click="deleteProperty(onePropertyItem)"
                                              ng-if="!onePropertyItem.isEditing"><span
                                              class="glyphicon glyphicon-trash"></span></button>
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="labelitems" ng-class="{'labelitems' : 'active'}[tab]">
                          <table ng-table="listLabelItems" class="table table-condensed table-bordered">
                              <colgroup>
                                  <col width="42%"/>
                                  <col width="42%"/>
                                  <col width="16%"/>
                              </colgroup>
                              <tr ng-repeat="onePropertyItem in $data">
                                  <td title="'Name'" ng-form="name">
                                      <input type="text" name="name" ng-disabled="!onePropertyItem.isEditing"
                                             ng-model="onePropertyItem.pname" class="form-control" required/>
                                  </td>
                                  <td title="'Value'" ng-form="name">
                                      <input type="text" name="value" ng-disabled="!onePropertyItem.isEditing"
                                             ng-model="onePropertyItem.pvalue" class="form-control" required/>
                                  </td>
                                  <td>
                                      <button class="btn oc-button btn-sm" style="margin-top:8px;"
                                              ng-click="saveProperty(onePropertyItem)"
                                              ng-if="onePropertyItem.isEditing"
                                              ng-disabled="rowForm.$pristine || rowForm.$invalid"><span
                                              class="glyphicon glyphicon-ok"></span></button>
                                      <button class="btn btn-default btn-sm" style="margin-top:8px;"
                                              ng-click="cancelEdit(onePropertyItem)"
                                              ng-if="onePropertyItem.isEditing"><span
                                              class="glyphicon glyphicon-remove"></span></button>
                                      <button class="btn btn-default btn-sm" style="margin-top:8px;"
                                              ng-click="onePropertyItem.isEditing = true"
                                              ng-if="!onePropertyItem.isEditing"><span
                                              class="glyphicon glyphicon-pencil"></span></button>
                                      <button class="btn btn-danger btn-sm" style="margin-top:8px;"
                                              ng-click="deleteProperty(onePropertyItem)"
                                              ng-if="!onePropertyItem.isEditing"><span
                                              class="glyphicon glyphicon-trash"></span></button>
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>

          <div class="form-group">
              <button type="button" class="btn oc-button" ng-click="saveNewLabelProperties()">
                  {{'ocsp_web_common_009' | translate}}
              </button>
          </div>
      </form>
  </div>
</script>


<div class="row">
  <div class="col-md-12 main">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div>
          {{'ocsp_web_label_manage_000' | translate}}
        </div>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>{{'ocsp_web_label_manage_001' | translate}}</th>
              <th>{{'ocsp_web_label_manage_004' | translate}}</th>
              <th>{{'ocsp_web_label_manage_002' | translate}}</th>
              <th>{{'ocsp_web_label_manage_003' | translate}}</th>
              <th>{{'ocsp_web_streams_manage_023' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="label in page.labels">
              <td class="col-md-2">{{label.name}}</td>
              <td class="col-md-2">{{label.owner}}</td>
              <td class="col-md-2">{{label.class_name}}</td>
              <td class="col-md-5">
                <textarea ng-model="label.properties" class="form-control" rows="3" ng-disabled="true" />
              </td>
              <td class="col-md-1">
                <a href="" class="btn oc-button" ng-click="editLabelProperties(label)" ng-hide="username!== label.owner && !isAdminUser">{{ 'ocsp_web_common_042' | translate }}</a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-md-12">
          <ul class="pull-right" uib-pagination total-items="page.totalitems" max-size="page.maxsize" items-per-page="page.perpage"
            ng-model="page.curpage" first-text="<<" rotate="true" last-text=">>" boundary-links="true" previous-text="<" next-text=">"
            force-ellipses="3" ng-change="choose(page.curpage)">
          </ul>
        </div>
      </div>
    </div>
    <div class="well">
      <div>
        <div style="float:right;">
          <button type="button" class="btn oc-button" ng-click="upload()">{{'ocsp_web_common_010' | translate}}</button>
        </div>
        <input ngf-select type="file" ng-model="file">
      </div>
    </div>
    <div class="alert alert-danger" ng-if="message !== null">
      {{message}}
    </div>
  </div>

</div>