<a href="#userActionDataDetailPageId" data-uk-modal></a>
<div id="userActionDataDetailPageId" class="uk-modal">
  <div class="uk-modal-dialog uk-modal-dialog-large">
    <a class="uk-modal-close uk-close"></a>
    <div class="uk-modal-header">
      <h3>{{'ocsp_web_logmanagement_userdata' | translate}}</h3>
    </div>
    <form name="typeForm" id="searchForm" class="uk-form">
      <div class="uk-grid">
        <label>{{'ocsp_web_logmanagement_datadetail' | translate}}</label>
      </div>
      <div class="uk-grid">
        <div class="uk-width-1-1">
          <textarea rows="15" class="uk-width-1-1">{{userData}}</textarea>
        </div>
      </div>
    </form>
    <div class="uk-modal-footer">
      <a type="button" class="uk-button oc-button uk-modal-close" ng-click="closeModal()">{{'ocsp_web_common_038' | translate}}</a>
    </div>
  </div>
</div>

<div class="">
  <ul class="uk-breadcrumb">
    <li>
      <a href="#/logmanagement/">
        <label class="glyphicon glyphicon-chevron-left"></label>&nbsp;{{'ocsp_web_common_returnback' | translate}}</a>
    </li>
    <li class="uk-active">{{'ocsp_web_logmanagement_datadetail' | translate}}</li>
  </ul>
</div>
<div class="">

  <div class="">
    <div class="uk-panel">
      <div class="uk-panel-title">
        <h3>{{'ocsp_web_logmanagement_name' | translate}}</h3>
      </div>
      <div class="uk-overflow-container">
        <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
          <thead>
            <tr>
              <th width="15%">{{'ocsp_web_logmanagement_date' | translate}}</th>
              <th width="8%">{{'ocsp_web_logmanagement_username' | translate}}</th>
              <th width="8%">{{'ocsp_web_logmanagement_methodtype' | translate}}</th>
              <th width="8%">IP</th>
              <th width="50%">URL</th>
              <th width="10%">{{'ocsp_web_logmanagement_logfileaction' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="oneRecord in logFileRecords">
              <td>{{oneRecord.recordDate}}</td>
              <td>{{oneRecord.userName}}</td>
              <td>{{oneRecord.MethodName}}</td>
              <td>{{oneRecord.ipAddress}}</td>
              <td>{{oneRecord.url}}</td>
              <td>
                <a href="" class="uk-button oc-button" ng-click="checkUserDataDetail(oneRecord.data)" data-uk-modal="{target:'#userActionDataDetailPageId'}">{{'ocsp_web_logmanagement_checkuserdata' | translate}}</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

</div>